body {
    margin: 0px;
    background-color: black;
    color: gold;
    font-family: 'Jacquard 12';
    image-rendering: pixelated;
}

header {
    text-align: center;
}

.card {
    background-color: gray;
    border: double gold 5px;
    padding: 1em;
    font-size: larger;
}

.town {
    background-image: url(assets/Backgrounds/townbg.png);
}

.dungeon {
    background-image: url(assets/Backgrounds/dungeonbg.png);

    p {
        font-size: 50px;
    }
}

.dungeon,
.town {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;


    img {
        width: 255px;
        height: 355px;
    }


    button {
        font-size: 40px;
        background-color: gray;
        border: double gold 8px;
        color: gold;
    }
}

.hero {
    border: double gold 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-size: 25px;
    height: 20dvh;
    position: sticky;
    bottom: 0px;
}

.dead,
.win {
    text-align: center;
    font-size: 100px;
}

.dead {

    color: red;
}

.win {
    color: aquamarine;
    animation: rotate .2s infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg)
    }

    100% {
        filter: hue-rotate(345deg)
    }
}